<ion-view style="" id="page9" title="Descripción 2">
    <ion-content class="has-header" padding="true">
        <div>
            <img style="display:block;" src="img/XFTPTIGGTCOmyfIhCZCA_ionic.png" height="auto" width="100%">
        </div>
        <div style="color: rgb(0, 0, 0);" id="descripciN2-markdown2">
            <p>Ionic es una herramienta, gratuita y open source, para el desarrollo de aplicaciones híbridas basadas en HTML5, CSS y JS. Está construido con Sass y optimizado con AngularJS.</p>
        </div>
    </ion-content>
</ion-view>