  <ion-side-menus id="page3">
  <ion-side-menu-content>
    <ion-header-bar class="bar-header bar-dark">
      <button class="button button-clear bar-dark"></button>
      <div class="h1 title">Fuerza de Venta</div>
      <button class="button button-icon icon ion-navicon" menu-toggle="right"> </button>
    </ion-header-bar>
    <ion-content class="has-header" padding="true">

   <div class="bar bar-header bar-light ">
        <label class="item item-input" style="width:90%;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Buscar Cliente">
        </label>
        <a class="button icon ion-ios-cart " href="#/page8" style="margin-left: auto;" >Confirmar</a>
    </div>
  <br>

  <br>
    <ion-list style="">
       <a class="item item-avatar " href="#/page2"><img src="img/micomisariato.png"><h2>Mi Comisariato</h2><p>Av 25 de julio y juan montalvo</p></a>
       <a class="item item-avatar" href="#/page2"><img src="img/comandato.png"><h2>Comandato</h2><p>Quito y Portete</p></a>
        </ion-list>
    </ion-content>
  </ion-side-menu-content> 
   <ion-side-menu side="right">
      <a menu-close href="#/page2" class="item">Vender</a>
      <a menu-close href="#/home" class="item">Cerrar Sesion</a>
      <a menu-close href="#/home" class="item">Home</a>
   </ion-side-menu>
</ion-side-menus> 
 

<!--  <ion-view style="" id="page3" title="Clientes ">
    <ion-content class="has-header" padding="true">

   <div class="bar bar-header bar-light ">
     <button class="button icon ion-navicon"></button>
        <label class="item item-input" style="width:90%;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Buscar Cliente">
        </label>
        <a class="button icon ion-ios-cart " href="#/page8" style="margin-left: auto;" >Confirmar</a>
    </div>
  <br>

  <br>
    <ion-list style="">
       <a class="item item-avatar " href="#/page2"><img src="img/micomisariato.png"><h2>Mi Comisariato</h2><p>Av 25 de julio y juan montalvo</p></a>
       <a class="item item-avatar" href="#/page2"><img src="img/comandato.png"><h2>Comandato</h2><p>Quito y Portete</p></a>
        </ion-list>
    </ion-content>
</ion-view>
 -->



 
 <!-- <ion-view title="Fuerza Venta">
  <ion-nav-buttons side="left">
    <button class="button button-clear bar-dark"></button>
      <div class="h1 title"></div>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">

   <div class="bar bar-header bar-light ">
        <label class="item item-input" style="width:90%;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Buscar Cliente">
        </label>
        <a class="button icon ion-ios-cart " href="#/page8" style="margin-left: auto;" >Confirmar</a>
    </div>
   
  <br>

  <br>
    <ion-list style="">
       <a class="item item-avatar " href="#/page2"><img src="img/micomisariato.png"><h2>Mi Comisariato</h2><p>Av 25 de julio y juan montalvo</p></a>
       <a class="item item-avatar" href="#/page2"><img src="img/comandato.png"><h2>Comandato</h2><p>Quito y Portete</p></a>
        </ion-list>
    </ion-content>
</ion-view>  -->