<ion-view style="" id="page12" title="Ayuda">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">PREGUNTA 1</span>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">PREGUNTA 2</span>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">pregunta 3</span>
            </label>
        </form>
    </ion-content>
</ion-view>