<ion-view style="" id="page8" title="Factura">
    <ion-content class="has-header" padding="true">
		   <div class="card">
			  <div style="text-align: right;" > 
			  <a class="button icon ion-trash-a button-positive" ng-click="eliminar()" style="margin-left: auto;" >Eliminar</a>
			<!--   <a class="button icon ion-edit button-positive" ng-click="Modificar()" style="margin-left: auto;" >Modificar</a> -->
			  </div>
			  <div class="item item-divider ">
				Dermocosmética
			  </div>
			  <div class="item item-text-wrap">
				Item:CREMA EUCERIN PH5 MANOSx75ML
				Cantidad:3
			  </div>
			  <div class="item item-divider">
				Cliente:A
			  </div>
			</div>
			
			   <div class="card">
			   <div style="text-align: right;" > 
			  <a class="button icon ion-trash-a button-positive" ng-click="eliminar()" style="margin-left: auto;" >Eliminar</a>
			 <!--  <a class="button icon ion-edit button-positive" ng-click="Modificar()" style="margin-left: auto;" >Modificar</a> -->
			  </div>
			  <div class="item item-divider">
				Pañales
			  </div>
			  <div class="item item-text-wrap">
				Item:PAÑAL PANOLINI PLUS F-5 XGDEx20
				Cantidad:1
			  </div>
			  <div class="item item-divider">
				Cliente:A
			  </div>
			</div>
			
			<button type="button" class="button button-positive button-block " id="vender" ng-click="save()"><span class="glyphicon glyphicon-ok"></span>VENDER</button> 
			
    </ion-content>
</ion-view>