<ion-view style="" id="page4" title="SlaesForceApp">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
		 <ion-list style="">
		 <br>
		 <br>
            <div style="text-align: center;">
                <img style="" src="img/7em0R4dSKqFxA0dvgZ2w_GCES005A.png" height="auto" width="auto">
            </div>
			<br>
		 <br>
            <label style="" class="item item-input">
               <i class="icon ion-person  placeholder-icon"></i>
				<input type="text" placeholder="Usuario" ng-model="cliente.usuario">
            </label>
           
                <label style="" class="item item-input">
                    <i class="icon ion-locked  placeholder-icon"></i>
				<input type="text" placeholder="Contraseña" ng-model="cliente.contrasena">
                </label>
            </ion-list>
					<br>
		 <br>
          <!--    <a class="button button-full button-positive" id="login-button4"  ng-click="save()" ui-sref="items">Ingresar</a>  -->
		  <div style="text-align:center;">
		<button type="button" class="button button-positive " ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Ingresar</button> 
			</div>
            <!-- <a class="button button-positive  button-block button-clear" id="login-button5" ui-sref="menu.signup">Registrarse</a> -->
        </form>
		
    </ion-content>
</ion-view>