<ion-view style="" id="page13" title="Acerca de">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
		
            <div style="text-align:center;">
                <img style="text-align: center;" src="img/dires.png" height="auto" width="auto">
            </div>
            <div style="text-align:center;" >
               <p>Desarrollo Integral de Soluciones Empresariales DIRES S.A. es una empresa ecuatoriana con más de 16 años de experiencia en la provisión de Tecnología y Servicios para el sector de la Salud.</p>
			   <p>Fundada en 1995, actualmente es líder en brindar soluciones tecnológicas, asesoría y servicios  para el sector farmacéutico ecuatoriano. Socio de negocios Microsoft en el segmento ISV Solutions </p> 
			   <p> desde el año 2004 y calificado como IBM Business Partner desde el 2011, DIRES cuenta con un portafolio de productos y servicios acorde con las necesidades del mercado y los avances de la tecnología.</p>
            </div>
            <!-- <a class="button button-positive  button-block button-clear" id="login-button5" ui-sref="menu.signup">Registrarse</a> -->
        </form>
    </ion-content>
</ion-view>