 <ion-view style="" id="page3" title="Clientes ">
    <ion-content class="has-header" padding="true">
    <br>
   <div class="bar bar-header bar-light "  style="border: none; margin-top: 12px;">
        <label class="item item-input" id="buscar">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Buscar Cliente">
        </label>
    </div>
  <br><br>
    <ion-list >
    <div id="ItemClientes">
       <a class="item item-avatar "   ng-click="Productos()"><img src="img/cliente1.png"><h2>Cliente A</h2><p>Av 25 de julio y juan montalvo</p></a>
       <a class="item item-avatar" ng-click="Productos()"><img src="img/cliente2.jpg"><h2>Cliente B</h2><p>Quito y Portete</p></a>
       </div>
        </ion-list>
    </ion-content>
</ion-view>
 