<ion-view style="" id="page6" title="Login">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                     <i class="icon ion-search placeholder-icon"></i>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <button class="button button-stable  button-block" id="signup-button6">Sign up</button>
        </form>
    </ion-content>
</ion-view>