<ion-view  cache-view="false">
 <ion-content class="has-header" padding="true">
        <form style="" class="list">
		 <ion-list style="">
		 <br><br>
            <div style="text-align: center;">
                <img style="" src="img/7em0R4dSKqFxA0dvgZ2w_GCES005A.png" height="auto" width="auto">
            </div>
			<br><br>
            <div class ="input-login">
            <label style="" class="item item-input">
                <i class="icon ion-person  placeholder-icon"></i>
				<input type="text" placeholder="Usuario" ng-model="cliente.usuario">
            </label>
            <label style="" class="item item-input">
                <i class="icon ion-locked  placeholder-icon"></i>
				<input type="text" placeholder="Contraseña" ng-model="cliente.contrasena">
            </label>
            </div>
            </ion-list>
		  <br><br>
		  <div style="text-align:center;">
		<button type="button" class="button button-positive "  ng-click="Ingresar()"><span class="glyphicon glyphicon-ok"></span> Ingresar</button> 
			</div>
        </form>
    </ion-content>
</ion-view>
