<ion-view style=""  title="Descripción">
    <ion-content class="has-header" padding="true">


	<div class="item item-body" id="Detalles">
    <img class="full-image" src="img/product.jpg">
	    <p>
	     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	    </p>
  	</div>

  	<div class="item item-body" id="Detalles">
	     <span class="input-label" >Cantidad</span>
		 <label class="item item-input">
		    <input type="text" placeholder="">
		  </label>
	     <span class="input-label" >Comentario</span>
	     <label class="item item-input item-stacked-label">
	     	<textarea placeholder="Ingrese texto aqui">
			</textarea>
		 </label>
  	</div>
<br><br>
	<div id="BotonCarrito">
	  	 <button class="button button-balanced" ng-click="Carrito()">
			  Enviar al Carrito
		</button>
	</div>

     </ion-content>
</ion-view>