<br><br>
<ion-content ng-controller="cloudTabDefaultPageCtrl">
<!--     <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            A bar chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
 -->

 <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
       
 <div style="text-align: center;">
                <img style="" src="img/estadisticas.png" height="auto" width="auto">
            </div>



    <!--     <div class="item item-text-wrap">
            <zingchart id = "myChart" zc-json = "myJson" zc-height = 500 zc-width = 600 ></zingchart>  
            
        </div> -->
    </div>



</ion-content>