<ion-view style="" id="page2" title="Productos">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Producto</span>
                <select>
                    <option>Dermocosmética</option>
                    <option>Pañales</option>
					<option>Vitaminas y Minerales</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Item</span>
                <select>
                    <option>PAÑAL PANOLINI PLUS F-5 XGDEx20</option>
                    <option>CREMA EUCERIN PH5 MANOSx75ML</option>
					<option>TOALLITAS OPUS DESMAQ N-Mx25</option>
                </select>
            </label>
			 <label style="" class="item item-select">
                <span class="input-label">Cantidad</span>
                <select>
                    <option>1</option>
                    <option>2</option>
					<option>3</option>
                </select>
            </label>
		<label class="item item-input item-stacked-label">
		<span class="input-label">Descripción</span>
			<textarea placeholder="Ingrese texto aqui">
			</textarea>
		</label>
        </form>
        <a class="button button-positive  button-block" id="busqueda-button3"  ng-click="modificar()">Modificar</a>
    </ion-content>
</ion-view>